{% load static %}
<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content=
        "width=device-width, initial-scale=1.0" />
    <title>Structure of HTML Document</title>
    <link rel='stylesheet' href="{% static "css/style.css" %}"">
</head>

<body>
    <div>
        <p class="lal-bg">Task Management System</p>
        <img src="{% static "images/nature.jpg" %}">

        {% comment %} {{name}} {% endcomment %}

        <p class="lal-bg">{{age}}<p>

        {% comment %} built in template tags with, ar total count dekhe rakhbo {% endcomment %}

        {% for name in names %}

         {% if not name == 'Diya' %}

         <p>{{name}}</p> 
          
         {% endif %}
        
        {% endfor %}

    </div>
</body>

</html>